{% extends 'base.html' %}
{% load static %}

{% block title %}Help & FAQ - Healthy Meal Planner{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Help & FAQ</h1>
    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h5>Getting Started</h5>
            <p>Welcome to Healthy Meal Planner! Here's how to get started...</p>
            <!-- BMI Info Box -->
            <div class="card bg-light mb-4 border-0">
                <div class="card-body">
                    <h6 class="card-title mb-2"><i class="fas fa-info-circle text-info"></i> BMI Categories</h6>
                    <small class="text-muted">
                        <div><strong>&lt; 18.5:</strong> Underweight</div>
                        <div><strong>18.5 - 24.9:</strong> Normal weight</div>
                        <div><strong>25 - 29.9:</strong> Overweight</div>
                        <div><strong>≥ 30:</strong> Obese</div>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h5>Getting Started</h5>
            <p>Welcome to Healthy Meal Planner! Here's how to get started...</p>
            <!-- How to Use the App -->
            <div class="card bg-light mb-4 border-0">
                <div class="card-body">
                    <h6 class="card-title mb-2"><i class="fas fa-info-circle text-info"></i> Units of measurements </h6>
                    <small class="text-muted">
                        <div><strong>Height in cm</strong><br>
                        ​To convert feet and inches to centimeters, use the formula:  Height in cm = (feet × 30.48) + (inches × 2.54)​</div>      
                 <div>For example,  to convert 5 feet 8 inches to centimeters: <br> 152.4 <br> + <br> 20.32 <br> = <br> 172.72 cm <br><br></div>
                        <div><strong>Weight in kg</strong><br> pounds  to kg conversion: 1 kg = 2.20462 pounds/lbs <br> For example: <br> 
                        180lbs = 81.65kg</div>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}