{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Profile Setup{% endblock %}

{% block content %}
<div class="profile-setup-container">
    <h2>👤 Complete Your Profil</h2>
    <form method="post" action="{% url 'profile_setup' %}">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>
        <div class="form-group">
            <label for="weight">Weight (kg):</label>
            <input type="number" id="weight" name="weight" step="0.1" required value="{{profile.weight_kg}}">
        </div>
        <div class="form-group">
            <label for="height">Height (cm):</label>
            <input type="number" id="height" name="height" required value="{{profile.height}}">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary btn-lg" href="{% url 'mealapp:dashboard' %}">
                <i class="fas fa-check-circle"></i> Save Profile
            </button>
        </div>
        <p class="text-center text-muted mt-4 small">
            <i class="fas fa-shield-alt"></i> Your data is secure and private
        </p>

    </form>
</div>
{% endblock %}