{% extends 'base.html' %}
{% load static %}


{% block title %}Detail of recipe {{ recipe.title }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card p-4 shadow-lg">
                <h2>{{ recipe.title }}</h2>
                <div>
                    <div class="card-header mb-3">
                        {% if recipe.image_url and recipe.image_url != '' %}
                        <img src="{{ recipe.image_url }}" class="recipe-image" alt="{{ recipe.title }}">
                    {% else %}
                        <img src="/staticfiles/mealapp/images/default.jpg" class="recipe-image" alt="Default Image">
                    {% endif %}
                    </div>
                    <div class="card-header mb-3">
                     
                        <p>{{ recipe.description }}</p> 
                    </div>
                    <div class="card-body">
                       <p><strong>Ingredients:</strong></p>
                       <ul>
                        {% for ingredient in ingredients_list %}
                            <li>{{ ingredient }}</li>
                        {% empty %}
                            <li>No ingredients listed.</li>
                        {% endfor %}
                       </ul>
                       <p><strong>Cooking Instructions:</strong></p>
                       <ol>
                        {% for step in instructions_list %}
                            <li>{{ step }}</li>
                        {% empty %}
                            <li>No instructions provided.</li>
                        {% endfor %}
                       </ol>
                    </div>
                    <div class="card-footer mt-3">
                        <p>Preparation Time: {{ recipe.prep_time_minutes }} minutes</p>
                        <p>Cooking Time: {{ recipe.cook_time_minutes }} minutes</p>
                        <p>Servings: {{ recipe.servings }}</p>
                        <p>Calories: {{ recipe.total_calories }} kcal</p>
                        <p>Carbohydrates: {{ recipe.carbs }} g</p>
                        <p>Proteins: {{ recipe.protein }} g</p>
                        <p>Fats: {{ recipe.fat }} g</p>
                        <p>Fiber: {{ recipe.fiber }} g</p>
                        <p>Category: {{ recipe.category }}</p>
                     
                        {% if user.is_authenticated and user == recipe.created_by %}
                        <p>Created At: {{ recipe.created_at }}</p>
                        <p>Updated At: {{ recipe.updated_at }}</p>
                        {% endif %}
                    </div>
                    <br>
                    {% if user == recipe.created_by %}
                    <a class="btn btn-warning" href="{% url 'recipe_update' recipe.id %}">Edit Recipe</a>
                    <a class="btn btn-danger" href="{% url 'recipe_delete' recipe.id %}">Delete Recipe</a>
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary mt-4" href="{% url 'recipe_list_user' user.username %}">Back to Recipes List</a>
            <a class="btn btn-secondary mt-4" href="{% url 'dashboard' %}">Back to Dashboard</a>
            {% else %}
            <a class="btn btn-primary mt-4" href="{% url 'index' %}">Back to Recipes List</a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}