{% extends 'base.html' %}
{% load static %}

{% block title %}Create Recipe{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Create New Recipe</h2>
            <form method="POST" enctype="multipart/form-data" id="RecipeForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success" onclick="this.form.action='{{ request.path }}'">Create Recipe</button>
            </form>
            <div class="mt-3">
                <a href="{% url 'recipe_list' %}">Back to Recipe List</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}