{% extends 'base.html' %}
{% load static %}

{% block title %}Detail of recipe {{ recipe.title }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card p-4 shadow-lg">
                <h2>{{ recipe.title }}</h2>
                <div>
                    <div class="card-header mb-3">
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="card-body">
                       <p><strong>Ingredients:</strong><br>
                        {% for ingredient in recipe.ingredients %}
                            {{ ingredient }}<br>
                        {% endfor %}
                        </p>
                        <p><strong>Cooking Instructions:</strong> {{ recipe.instructions }}</p>
                    </div>
                    <div class="card-footer mt-3">
                        <p>Preparation Time: {{ recipe.prep_time }} minutes</p>
                        <p>Cooking Time: {{ recipe.cook_time }} minutes</p>
                        <p>Servings: {{ recipe.servings }}</p>
                        <p>Calories: {{ recipe.calories }} kcal</p>
                        <p>Carbohydrates: {{ recipe.carbs }} g</p>
                        <p>Proteins: {{ recipe.proteins }} g</p>
                        <p>Fats: {{ recipe.fats }} g</p>
                        <p>Fiber: {{ recipe.fiber }} g</p>
                        <p>Created At: {{ recipe.created_at }}</p>
                        <p>Updated At: {{ recipe.updated_at }}</p>
                    </div>
                    <br>
                    {% if user == recipe.created_by %}
                    <a class="btn btn-warning" href="{% url 'recipe_update' recipe.id %}">Edit Recipe</a>
                    <a class="btn btn-danger" href="{% url 'recipe_delete' recipe.id %}">Delete Recipe</a>
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary mt-4" href="{% url 'recipe_list_user' user.username %}">Back to Recipes List</a>
            <a class="btn btn-secondary mt-4" href="{% url 'dashboard' %}">Back to Dashboard</a>
            {% else %}
            <a class="btn btn-primary mt-4" href="{% url 'index' %}">Back to Recipes List</a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}