/* Recipe Grid Responsiveness */
@media (max-width: 1400px) {
    /* 3 cards on extra large screens */
    .row-cols-lg-3 > * {
        width: 33.333333%;
    }
}

@media (max-width: 992px) {
    /* 2 cards on medium screens */
    .row-cols-md-2 > * {
        width: 50%;
    }
    
    .recipe-image {
        height: 220px;
    }
}

@media (max-width: 768px) {
    /* 1 card on small screens */
    .row-cols-1 > * {
        width: 100%;
    }
    
    .recipe-image {
        height: 200px;
    }
    
    .nutrition-info {
        padding: 0.5rem;
    }
    
    .card-body {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .recipe-image {
        height: 180px;
    }
    
    .g-4 {
        --bs-gutter-x: 1rem;
        --bs-gutter-y: 1rem;
    }
}